<h1>All Products</h1>
<% @products.each do |product|%>
<div>
<h2><%= link_to(product.title, product_path(product.id) )%></h2>
<p> <%= product.description %></p>
<p> <%= number_to_currency(product.price) %></p>

<hr>
</div>
<% end %>